body{
  color:#f7f7f7;
}
#reservations_graph,
#enrollments_graph,
#offers_graph,#gg1 {
    width: 30%;
    height: 25vh;
    display: inline-block;
    margin: 1em;
}
#sidebar{
  padding:25px;
  border-right: 1px solid #2d2d2d;
  background-color: #1a1a1a;
  height: 100%;


}

.btn-field{
padding-bottom: 50px;

}

.btn-log {
  background-color: rgb(85, 206, 99);
  color:#fff;
  font-weight:bold;
border-radius: 30px;

padding: 10px 30px;


}

.btn-minus{
  background-color: #ff6565;
  color:#fff;
}
.btn-plus{
background-color: #55ce63;
color:#fff;
}
.main{
  background-color: #212121;

}

.dash-widget-icon {border-radius: 100%;color: #5c5c5c;display: inline-block;float: left;font-size: 30px;height: 66px;line-height: 66px;margin-right: 10px;text-align: center;width: 66px;}
.dash-widget-info {text-align: right;}
.dash-widget-info > h3 {font-size: 28px;font-weight: 600;}
.dash-widget-info > span {font-size: 16px;}
.dash-widget {background-color: #1a1a1a;border: 1px solid #1a1a1a;border-radius: 4px;margin-bottom: 30px;padding:20px;position: relative;}
.dash-widget2 {display: block;min-height: 90px;background: #1a1a1a;width: 100%;border-radius: 4px;margin-bottom: 30px;border:1px solid #2d2d2d;}
.dash-widget2 .dash-widget-icon {border-radius: 4px 0 0 4px;display: block;float: left;height: 88px;width: 90px;text-align: center;font-size: 45px;line-height: 90px;color:#fff;}
.dash-widget2 .dash-widget-info {padding:11px 20px;}
.dash-progress {margin-top: 15px;}
.dash-progress h5 {margin-bottom: 0;}
.dash-widget3 .dash-widget-icon {color:#fff;    height: 60px;line-height: 60px;width: 60px;}
.dash-widget4 .dash-widget-icon {color:#fff;}
.dash-widget5 {display: block;min-height: 90px;background: #1a1a1a;width: 100%;border-radius: 4px;margin-bottom: 30px;border:1px solid #2d2d2d;}
.dash-widget5 .dash-widget-icon {border-radius: 0;display: block;float: left;height: 88px;width: 90px;text-align: center;font-size: 45px;line-height: 90px;color:#fff;}
.dash-widget5 .dash-widget-info {padding:11px 0;}
.fa{padding-top: 20px;}
